<a href="https://colab.research.google.com/github/Elixirman/my_HYE_Works/blob/main/Pythn_4_ML_Qiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set-Up

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import Dataset

In [2]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding= "latin-1")

#EDA

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

QUESTIONS 1

In [5]:
df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

QUESTION 2

QUESTION 3

In [11]:
df.groupby("Item")[["Y2015", "Y2018"]].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

QUESTION 4

In [12]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [13]:
# Select columns corresponding to the year 2017
year_2017_data = df.filter(like='Y2017')

# Calculate the mean and standard deviation
mean_2017 = year_2017_data.values.mean()
std_2017 = year_2017_data.values.std()

# Round the results to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_2017 = round(std_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard deviation for the year 2017:", std_2017)

Mean for the year 2017: nan
Standard deviation for the year 2017: nan

QUESTION 6

In [14]:
# Calculate the total number of missing values in the year 2014
missing_values_2014 = df['Y2014'].isnull().sum()

# Calculate the total number of values in the year 2014
total_values_2014 = df['Y2014'].shape[0]

# Calculate the percentage of missing values in the year 2014
percentage_missing_2014 = (missing_values_2014 / total_values_2014) * 100

# Print the results
print("Total number of missing values in 2014:", missing_values_2014)
print("Percentage of missing values in 2014: {:.3f}%".format(percentage_missing_2014))

Total number of missing values in 2014: 1589
Percentage of missing values in 2014: 2.607%

QUESTION 7

In [17]:
df.groupby("Element")["Item"].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Item, dtype: int64

QUESTION 8

In [21]:
df.groupby("Area")["Y2017"].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [20]:
df.groupby("Area")["Y2017"].sum().max()

1483268.23

QUESTION 9

In [25]:
# Filter the DataFrame for Madagascar in 2015 and select the 'Protein_Supply_Quantity' column
madagascar_2015_protein = df.loc[(df['Area'] == 'Madagascar') & (df['Y2015']), 'Item']

# Calculate the total protein supply quantity
total_protein_supply_2015_madagascar = madagascar_2015_protein.sum()

# Print the result
print("Total Protein Supply Quantity in Madagascar in 2015:", total_protein_supply_2015_madagascar)

Total Protein Supply Quantity in Madagascar in 2015: PopulationGrand TotalGrand TotalGrand TotalVegetal ProductsVegetal ProductsVegetal ProductsAnimal ProductsAnimal ProductsAnimal ProductsCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerCereals - Excluding BeerWheat and productsWheat and productsWheat and productsWheat and productsWheat and productsWheat and productsWheat and productsWheat and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsRice and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsMaize and productsSorghum and productsSorghum and productsSorghum and productsSorghum and productsSorghum and productsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsStarchy RootsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsCassava and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsPotatoes and productsSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesSweet potatoesRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherRoots, OtherSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar CropsSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar caneSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar & SweetenersSugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sugar (Raw Equivalent)Sweeteners, OtherSweeteners, OtherSweeteners, OtherSweeteners, OtherSweeteners, OtherSweeteners, OtherSweeteners, OtherSweeteners, OtherHoneyHoneyHoneyHoneyHoneyPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesPulsesBeansBeansBeansBeansBeansBeansBeansBeansBeansBeansBeansPeasPeasPeasPeasPeasPeasPeasPeasPeasPeasPeasPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsPulses, Other and productsTreenutsTreenutsTreenutsTreenutsTreenutsTreenutsTreenutsTreenutsNuts and productsNuts and productsNuts and productsNuts and productsNuts and productsNuts and productsNuts and productsNuts and productsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsOilcropsSoyabeansGroundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)Groundnuts (Shelled Eq)CottonseedCottonseedCottonseedCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraCoconuts - Incl CopraPalm kernelsPalm kernelsPalm kernelsPalm kernelsPalm kernelsOilcrops, OtherOilcrops, OtherOilcrops, OtherOilcrops, OtherVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsVegetable OilsSoyabean OilSoyabean OilSoyabean OilSoyabean OilSoyabean OilSoyabean OilSoyabean OilGroundnut OilGroundnut OilGroundnut OilGroundnut OilGroundnut OilGroundnut OilGroundnut OilSunflowerseed OilSunflowerseed OilSunflowerseed OilSunflowerseed OilSunflowerseed OilSunflowerseed OilCottonseed OilCottonseed OilCottonseed OilCottonseed OilCottonseed OilCottonseed OilPalmkernel OilPalmkernel OilPalmkernel OilPalm OilPalm OilPalm OilPalm OilPalm OilPalm OilPalm OilPalm OilPalm OilCoconut OilCoconut OilCoconut OilCoconut OilCoconut OilCoconut OilCoconut OilOlive OilOlive OilOilcrops Oil, OtherOilcrops Oil, OtherOilcrops Oil, OtherOilcrops Oil, OtherOilcrops Oil, OtherVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesVegetablesTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsTomatoes and productsOnionsOnionsOnionsOnionsOnionsOnionsOnionsVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherVegetables, OtherFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineFruits - Excluding WineOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesOranges, MandarinesLemons, Limes and productsLemons, Limes and productsLemons, Limes and productsLemons, Limes and productsGrapefruit and productsGrapefruit and productsGrapefruit and productsGrapefruit and productsGrapefruit and productsGrapefruit and productsBananasBananasBananasBananasBananasBananasBananasBananasApples and productsApples and productsApples and productsApples and productsApples and productsApples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsPineapples and productsGrapes and products (excl wine)Grapes and products (excl wine)Grapes and products (excl wine)Grapes and products (excl wine)Grapes and products (excl wine)Fruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherFruits, OtherStimulantsStimulantsStimulantsStimulantsStimulantsStimulantsStimulantsStimulantsStimulantsStimulantsCoffee and productsCoffee and productsCoffee and productsCoffee and productsCoffee and productsCoffee and productsCoffee and productsCoffee and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsCocoa Beans and productsTea (including mate)SpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesSpicesPepperPepperPepperPepperPepperPepperPepperPepperPepperPimentoPimentoPimentoPimentoPimentoPimentoPimentoClovesClovesClovesClovesClovesClovesClovesClovesSpices, OtherSpices, OtherSpices, OtherAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesAlcoholic BeveragesWineWineWineWineWineWineWineBeerBeerBeerBeerBeerBeerBeerBeerBeverages, AlcoholicBeverages, AlcoholicBeverages, AlcoholicBeverages, AlcoholicBeverages, AlcoholicBeverages, AlcoholicAlcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non-FoodMeatMeatMeatMeatMeatMeatMeatMeatMeatBovine MeatBovine MeatBovine MeatBovine MeatBovine MeatBovine MeatBovine MeatBovine MeatBovine MeatMutton & Goat MeatMutton & Goat MeatMutton & Goat MeatMutton & Goat MeatMutton & Goat MeatMutton & Goat MeatMutton & Goat MeatPigmeatPigmeatPigmeatPigmeatPigmeatPigmeatPigmeatPigmeatPoultry MeatPoultry MeatPoultry MeatPoultry MeatPoultry MeatPoultry MeatPoultry MeatPoultry MeatMeat, OtherMeat, OtherMeat, OtherMeat, OtherMeat, OtherMeat, OtherMeat, OtherOffalsOffalsOffalsOffalsOffalsOffalsOffalsOffalsOffals, EdibleOffals, EdibleOffals, EdibleOffals, EdibleOffals, EdibleOffals, EdibleOffals, EdibleOffals, EdibleAnimal fatsAnimal fatsAnimal fatsAnimal fatsAnimal fatsAnimal fatsAnimal fatsFats, Animals, RawFats, Animals, RawFats, Animals, RawFats, Animals, RawFats, Animals, RawFats, Animals, RawFats, Animals, RawEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsEggsMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterMilk - Excluding ButterFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFish, SeafoodFreshwater FishFreshwater FishFreshwater FishFreshwater FishFreshwater FishFreshwater FishFreshwater FishFreshwater FishFreshwater FishDemersal FishDemersal FishDemersal FishDemersal FishDemersal FishDemersal FishDemersal FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishPelagic FishMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherMarine Fish, OtherCrustaceansCrustaceansCrustaceansCrustaceansCrustaceansCrustaceansCrustaceansCrustaceansCrustaceansCephalopodsCephalopodsCephalopodsCephalopodsCephalopodsCephalopodsMolluscs, OtherMolluscs, OtherMolluscs, OtherMolluscs, OtherMolluscs, OtherMolluscs, OtherAquatic Products, OtherAquatic Products, OtherAquatic Products, OtherAquatic Products, OtherAquatic Products, OtherAquatic Products, OtherAquatic Products, OtherAquatic Animals, OthersAquatic Animals, OthersAquatic Animals, OthersAquatic Animals, OthersAquatic Animals, OthersAquatic Animals, OthersAquatic PlantsAquatic PlantsAquatic PlantsAquatic PlantsMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousInfant foodInfant foodInfant foodMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneousMiscellaneous

QUESTION 11

In [27]:
df.groupby("Area")["Y2017"].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [28]:
df.groupby("Area")["Y2017"].sum().min()

0.0

In [29]:
# Assuming df is your DataFrame containing columns 'Y2017' and 'Area'

# Step 1: Select the columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Step 2: Perform a groupby operation on the 'Area' column and calculate the sum of each group
grouped_data = selected_columns.groupby('Area').sum()

# Step 3: Sort the sums in ascending order
sorted_sums = grouped_data.sort_values(by='Y2017')

# Step 4: Select the Area with the 7th lowest sum
seventh_lowest_area = sorted_sums.iloc[6].name

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [30]:
df.shape

(60943, 12)

QUESTION 17

In [31]:
df["Area"].nunique()

49